body {
  font-family: sans-serif;
  padding: 20px;
}

.search {
  color: blue;
}

h3 {
  color: blue;
}

img {

  width: 40%;
}

.articleClass {

  margin: 50px;

}

.likeDiv {
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
}